body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url('https://masaryk.tv/wp-content/uploads/2015/05/maison-kayser.jpg');
    background-size: cover;
    background-position-x:center;
      
}

.form_control{
    margin-top: 0px;padding-top: 20px;padding-bottom: 50px;
}
.user_card {
    height: 400px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}


ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  }
  
  input[type="checkbox"][id^="cb"] {
    display: none;
  }
  
  .ck{
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  .ck:before {
    background-color: #eb830d;
    color: #eb830d;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  .ck img {
    height: 100px;
    width: 100px;
    transition-duration: 0.4s;
    transform-origin: 40% 40%;
  }
  
  :checked + .ck {
    border-color:transparent;
  }
  
  :checked + .ck :before {
    content: "✓";
    background-color: #eb830d;
    transform: scale(1);
  }
  
  :checked + .ck img {
    transform: scale(0.7);
    z-index: -1;
  }

.user_card_2 {
    height: 270px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background:rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
    position: absolute;
    height: 270px;
    width: 270px;
    top: -90px;
    border-radius: 60%;
    background: rgba(0,0,0,0.0);
    padding: 10px;
    text-align: center;
}

input[type="radio"]{
    display: none;
}
.select_p select{
    font-size: 80%;
}

option{
    font-size: 100%;
}

input{
    font-size: 30%;
}

.form-control{
    font-size: 13px;
}
.brand_logo {
    height: 170px;
    width: 200px;
    text-shadow: black;
    

}
.form_container {
    margin-top: 100px;
}
.iniciar_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
    margin-top: 15px;
    margin-bottom: 15px;
}   


.swal2-styled.swal2-confirm{
    background-color: #eb830d;
}
.iniciar_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.iniciar_btn:hover{
    background-color:#eb830d;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

label{
    color: #ffffff;
    font-size: 90%;
    font-weight: 300;
    margin-top: 10px;
    text-shadow: 1px 1px black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

#label_card4{
    color: black;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width: 450px;
    max-width:450px; 
    height:inherit;
    margin: 0 auto;
    pointer-events:all;
    background-color: rgba(0,0,0,0.3) !important;

}

.titulo{
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
}

.titulo{
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
}

.sub{
    font-size: 15px;
    color: white;
    font-weight: 200;
    text-shadow: 1px 1px black;
}


.sub_2{
    font-size: 11px;
    color: white;
    font-weight: 100;
    text-shadow: 1px 1px black;
}

#select_frecuencia{
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo_mk_inicio {
    display:block;
    margin:auto;
    height: 165px;
    width: 150px;
}

.leyenda_mk{
    font-size: 18px;
}

.titulo_v{
    font-size: 17px;
    margin-top: 7px;
    color: white;
    font-weight: 200;
    margin-left: 10px;
}

.pregunta_1{
    font-size: 100%;
    color: white;
    font-weight: 200;
    text-shadow: 1px 1px black;
}
.pregunta_1_1{
    font-size: 100%;
    color: #eb830d;
    font-weight: 300;
  
}

.img_footer{
    display: inline;
}
.content_f{
    width: 350px;
    height: auto;
    
}

.span_e{
    color:#eb830d;
    font-size: 17px;
    font-weight: 300;
}

.siguiente_v{
    background: #eb830d !important;
    color: #ffffff !important;
}

.texto_v{
    margin-top: 10px;
}

p.clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35hpx;
}

p.clasificacion input {
    position: absolute;
    top: -100px;
}

p.clasificacion label {
    float: right;
    color:white;
    font-size: 35px;
    margin-right: 10px;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
color:#eb830d;

}

.logo_final{
    margin-bottom: 5%;
}

.texto_final{
    font-weight: bold;
    font-size: 18px;

}

.user_card{
    border-radius: 20px;
}

.iniciar_btn:hover {
    background-color: #ffffff;
}

.iniciar_btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.contenedor{
    margin-top: 30px;
}

